body{
    background-color: #00ABAA;
    font-family: 'Montserrat', sans-serif;
}
.container{
    max-width: 1200px;
    max-height: 650px;
    margin: 0px auto;
    padding: 0px 100px;
}
.main__block{
    margin: 20% 0%;
    display: flex;
    padding: 0px 15px;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.registration{
    width:53%;
    height:650px;
    background:#ECF6F8;
    margin: 0 auto;
    border-radius: 100px 0px 0px 100px;
    display: block;
    color: #00ABAA;
}
.email__block{
    margin: 150px 0px 0px 100px;
    width:466px;
    height:45px;
    border-bottom: 1px solid #00ABAA;
    font-size: 1.875em;
    font-weight: 400;
}
.email__block input{
    border: 0px;
    background-color: #ECF6F8;
    width:350px;
    height:35px;
    font-size: 1.1em;
    font-weight: 400;
    margin-left: 0.2em;

}


.password__block{
    margin: 30px 0px 0px 100px;
    width:466px;
    height:45px;
    border-bottom: 1px solid #00ABAA;
    font-size: 1.875em;
    font-weight: 400;
}
.password__block input{
    border: 0px;
    background-color: #ECF6F8;
    width:300px;
    height:35px;
    font-size: 1.1em;
    font-weight: 400;
    margin-left: 0.2em;
}


.check__block{
    margin: 25px 0px 0px 100px;
    width:466px;
    height:45px;
    font-size: 1.875em;
    font-weight: 300;
    align-items: center;
}
.check__block input{
    border: 0px;
    background-color: #00ABAA;
}
.button__block{
    margin: 10px 0px 0px 100px;
    width:466px;
    height:45px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.button{
    background-color: #ECF6F8;
    border: 1px solid #00ABAA;
    border-radius: 15px;
    width: 100px;
    font-size: 1.5em;
    font-weight: 400;
    color: #00ABAA;
}



.text__block{
    justify-content: center;
    margin-top: 10%;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
}
.check__block{
    text-align: center;
}
.registration__block{
    text-align: center;
    font-size: 1.5em;
    margin: 100px 0px 0px 100px;
    width:466px;
    height:45px;
    font-weight: 400;
}
.registration__block a{
    color: #00ABAA;
    text-decoration: none;
}



.logo__block{
    width:47%;
    height:574px;
    background: #FDD615;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.logo__img{
    margin: 20% 20% 20% 20%;
    width:83%;
}

